<div id="pagepiling">
  <div id="intro" class="section">
    <div class="section__decoration"></div>
    <h1 class="main_headline"><a href="http://casahorizontes.com" class="main_headline__link"><img src="<%= asset_path('casa-horizontes/brand/main_logo.png') %>" alt="Hotel Casa Horizontes" class="main_headline__image"></a></h1>
    <h2 class="section__headline"><span class="section__text-one" data-mercury="full" id="page_title1"><%= @page.title1.html_safe %></span></h2>
    <!-- <p class="section__deck">El único&nbsp;<strong>hotel de lujo&nbsp;</strong>en Colombia, ubicado dentro de un pueblo privado.</p> -->
    <p class="section__deck" data-mercury="full" id="page_text1"><%= @page.text1.html_safe %></p>
    <!-- <div class="reservation-box">
      <form class="reservation-box__form">
        <fieldset class="reservation-box__fieldset">
          <label for="reservation-arrive" class="reservation-box__label">Llegada</label>
          <input id="reservation-arrive" type="date" class="reservation-box__input">
        </fieldset>
        <fieldset class="reservation-box__fieldset">
          <label for="reservation-leave" class="reservation-box__label">Salida</label>
          <input id="reservation-leave" type="date" class="reservation-box__input">
        </fieldset>
        <fieldset class="reservation-box__fieldset">
          <input type="submit" value="Reservar Mi Experiencia" class="reservation-box__submit">
        </fieldset>
      </form>
    </div> -->
    <!-- TEMPORARY RESERVATION BOX -->       
  </div>
  <div id="realismo" class="section">
    <div class="section__decoration"></div>
    <div class="section__decoration-map"></div>
    <h2 class="section__headline"><span class="section__text-one" data-mercury="full" id="page_title2"><%= @page.title2.html_safe %></span><span class="section__text-two" data-mercury="full" id="page_title7"><%= @page.title7.html_safe %></span><span class="section__decoration-line-one"></span><span class="section__decoration-line-two"></span></h2>
    <p class="section__deck" data-mercury="full" id="page_text2"><%= @page.text2.html_safe %></p><img id="realismo_gallery" src="<%= asset_path('casa-horizontes/icons/realismo_gallery.png') %>" alt="">
  </div>
  <div id="hospedaje" class="section">
    <div class="section__decoration"></div>
    <div class="section__decoration-map"></div>
    <h2 class="section__headline"><span class="section__decoration-line-one"></span><span class="section__text-one" data-mercury="full" id="page_title3"><%= @page.title3.html_safe %></span><span class="section__text-two" data-mercury="full" id="page_title8"><%= @page.title8.html_safe %></span><span class="section__decoration-line-two"></span></h2>
    <p class="section__deck" data-mercury="full" id="page_text3"><%= @page.text3.html_safe %></p><img id="hospedaje_gallery" src="<%= asset_path('casa-horizontes/icons/hospedaje_gallery.png') %>" alt="">
  </div>
  <div id="atardecer" class="section">
    <div class="section__decoration"></div>
    <h2 class="section__headline"><span class="section__decoration-line-one"></span><span class="section__text-one" data-mercury="full" id="page_title4"><%= @page.title4.html_safe %></span><span class="section__text-two"data-mercury="full" id="page_title9"><%= @page.title9.html_safe %></span><span class="section__decoration-line-two"></span></h2>
    <p class="section__deck" data-mercury="full" id="page_text4"><%= @page.text4.html_safe %></p>
  </div>
  <div id="cocina" class="section">
    <div class="section__decoration"></div>
    <h2 class="section__headline"><span class="section__decoration-line-one"></span><span class="section__text-one" data-mercury="full" id="page_title5"><%= @page.title5.html_safe %></span><span class="section__text-two" data-mercury="full" id="page_title10"><%= @page.title10.html_safe %><span class="section__decoration-line-two"></span></h2>
    <p class="section__deck" data-mercury="full" id="page_text5"><%= @page.text5.html_safe %></p>
    <p class="section__chef" data-mercury="full" id="page_chef1"><%= @page.chef1.html_safe %></p>      
    <%= link_to "#ModalPrice", "data-toggle" => "modal", class: "section__link" do %> 
      <img src="<%= asset_path('casa-horizontes/icons/reservar_mesa.png') %>" alt="">
    <% end %>
    <!-- <a href="https://www.pagomio.com/" target="_blank" class="section__link"> -->  
  </div>
  <div id="invitados" class="section">
    <!--.section__decoration-->
    <h2 class="section__headline"><span class="section__text-one" data-mercury="full" id="page_title6"><%= @page.title6.html_safe %></span></h2>
    <div class="section__guest">
      <ul class="section__guest-list">
        <li class="section__guest-item">
          <figure class="section__guest-figure"><img id="image1" data-mercury="image" src="<%= render inline: @page.image1 %>" alt="" class="section__guest-image">
            <figcaption class="section__guest-caption">
              <div class="section__guest-svg"><?xml version="1.0" encoding="utf-8"?> <!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  --> <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 216 310" enable-background="new 0 0 216 310" xml:space="preserve"> <polygon fill-rule="evenodd" clip-rule="evenodd" points="0,0 216,20 206,290 10,310 "/> </svg> </div>
              <p class="section__guest-text section__guest-text--one" data-mercury="full" id="page_testimony1"><%= @page.testimony1.html_safe %></p>
            </figcaption>
          </figure>
        </li>
        <li class="section__guest-item">
          <figure class="section__guest-figure"><img src="<%= asset_path('casa-horizontes/guests/2.jpg') %>" alt="" class="section__guest-image">
            <figcaption class="section__guest-caption">
              <div class="section__guest-svg"><?xml version="1.0" encoding="utf-8"?> <!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  --> <svg version="1.1" id="Capa_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 256 290" enable-background="new 0 0 256 290" xml:space="preserve"> <path fill-rule="evenodd" clip-rule="evenodd" d="M0,20L236,0l20,290H40L0,20z"/> </svg> </div>
              <p class="section__guest-text section__guest-text--two" data-mercury="full" id="page_testimony2"><%= @page.testimony2.html_safe %></p>
            </figcaption>
          </figure>
        </li>
        <li class="section__guest-item">
          <figure class="section__guest-figure"><img src="<%= asset_path('casa-horizontes/guests/3.jpg') %>" alt="" class="section__guest-image">
            <figcaption class="section__guest-caption">
              <div class="section__guest-svg"><?xml version="1.0" encoding="utf-8"?> <!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  --> <svg version="1.1" id="Capa_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 235.5 292" enable-background="new 0 0 235.5 292" xml:space="preserve"> <path fill-rule="evenodd" clip-rule="evenodd" d="M21,0l214,12l1,280L0,262L21,0z"/> </svg> </div>
              <p class="section__guest-text section__guest-text--three" data-mercury="full" id="page_testimony3"><%= @page.testimony3.html_safe %></p>
            </figcaption>
          </figure>
        </li>
      </ul>
    </div>
  </div>
  <div id="reserva" class="section">
    <h2 class="section__headline"><span class="section__text-one" data-mercury="full" id="page_text7"><%= @page.text7.html_safe %></span></h2>
    <h3 class="section-logo"><a href="http://casahorizontes.com" class="section-logo__link"><img src="<%= asset_path('casa-horizontes/brand/main_logo.png') %>" alt="Hotel Casa Horizontes" class="section-logo__image"></a></h3>
    <div class="section__contact">
      <h4 class="section__contact-headline">Contactanos</h4>
      <p class="section__contact-text"><a href="mailto:info@casahorizontes.com" class="section__contact-link">info@casahorizontes.com</a><br><a href="tel:+573185171602" class="section__contact-phone">Tel +57 304 570 4870</a></p>
    </div>
    <div class="section__reserva"><%= link_to "Reservar Mi Experiencia", "#ModalPrice", "data-toggle" => "modal", class: "section__reserva-link" %></div>
  </div>
</div>

<script>
  $('#realismo_gallery').click(function (e) {
    $(this).lightGallery({
      dynamic: true,
      html: true,
      mobileSrc: false,
      dynamicEl: [
        { 'src': '<%= asset_path("casa-horizontes/gallery/gallery_demo01.jpg") %>', 'thumb': '<%= asset_path("casa-horizontes/gallery/gallery_demo01.jpg") %>', 'sub-html': '#dynamicHtml' }, 
        { 'src': '<%= asset_path("casa-horizontes/gallery/gallery_demo02.jpg") %>', 'thumb': '<%= asset_path("casa-horizontes/gallery/gallery_demo02.jpg") %>', 'sub-html': '#dynamicHtml' }, 
        { 'src': '<%= asset_path("casa-horizontes/gallery/gallery_demo03.jpg") %>', 'thumb': '<%= asset_path("casa-horizontes/gallery/gallery_demo03.jpg") %>', 'sub-html': '#dynamicHtml' }, 
        { 'src': '<%= asset_path("casa-horizontes/gallery/gallery_demo04.jpg") %>', 'thumb': '<%= asset_path("casa-horizontes/gallery/gallery_demo04.jpg") %>', 'sub-html': '#dynamicHtml' }, 
        { 'src': '<%= asset_path("casa-horizontes/gallery/gallery_demo05.jpg") %>', 'thumb': '<%= asset_path("casa-horizontes/gallery/gallery_demo05.jpg") %>', 'sub-html': '#dynamicHtml' }, 
        { 'src': '<%= asset_path("casa-horizontes/gallery/gallery_demo06.jpg") %>', 'thumb': '<%= asset_path("casa-horizontes/gallery/gallery_demo06.jpg") %>', 'sub-html': '#dynamicHtml' }, 
        { 'src': '<%= asset_path("casa-horizontes/gallery/gallery_demo07.jpg") %>', 'thumb': '<%= asset_path("casa-horizontes/gallery/gallery_demo07.jpg") %>', 'sub-html': '#dynamicHtml' }, 
        { 'src': '<%= asset_path("casa-horizontes/gallery/gallery_demo08.jpg") %>', 'thumb': '<%= asset_path("casa-horizontes/gallery/gallery_demo08.jpg") %>', 'sub-html': '#dynamicHtml' }, 
        { 'src': '<%= asset_path("casa-horizontes/gallery/gallery_demo09.jpg") %>', 'thumb': '<%= asset_path("casa-horizontes/gallery/gallery_demo09.jpg") %>', 'sub-html': '#dynamicHtml' }, 
        { 'src': '<%= asset_path("casa-horizontes/gallery/gallery_demo10.jpg") %>', 'thumb': '<%= asset_path("casa-horizontes/gallery/gallery_demo10.jpg") %>', 'sub-html': '#dynamicHtml' }, 
        { 'src': '<%= asset_path("casa-horizontes/gallery/gallery_demo11.jpg") %>', 'thumb': '<%= asset_path("casa-horizontes/gallery/gallery_demo11.jpg") %>', 'sub-html': '#dynamicHtml' }
      ]
    });
  });

  $('#hospedaje_gallery').click(function (e) {
    $(this).lightGallery({
      dynamic: true,
      html: true,
      mobileSrc: false,
      dynamicEl: [
        { 'src': '<%= asset_path("casa-horizontes/gallery/gallery_demo12.jpg") %>', 'thumb': '<%= asset_path("casa-horizontes/gallery/gallery_demo12.jpg") %>', 'sub-html': '#dynamicHtml' }, 
        { 'src': '<%= asset_path("casa-horizontes/gallery/gallery_demo13.jpg") %>', 'thumb': '<%= asset_path("casa-horizontes/gallery/gallery_demo13.jpg") %>', 'sub-html': '#dynamicHtml' }, 
        { 'src': '<%= asset_path("casa-horizontes/gallery/gallery_demo14.jpg") %>', 'thumb': '<%= asset_path("casa-horizontes/gallery/gallery_demo14.jpg") %>', 'sub-html': '#dynamicHtml' }, 
        { 'src': '<%= asset_path("casa-horizontes/gallery/gallery_demo15.jpg") %>', 'thumb': '<%= asset_path("casa-horizontes/gallery/gallery_demo15.jpg") %>', 'sub-html': '#dynamicHtml' }, 
        { 'src': '<%= asset_path("casa-horizontes/gallery/gallery_demo16.jpg") %>', 'thumb': '<%= asset_path("casa-horizontes/gallery/gallery_demo16.jpg") %>', 'sub-html': '#dynamicHtml' }, 
        { 'src': '<%= asset_path("casa-horizontes/gallery/gallery_demo17.jpg") %>', 'thumb': '<%= asset_path("casa-horizontes/gallery/gallery_demo17.jpg") %>', 'sub-html': '#dynamicHtml' }, 
        { 'src': '<%= asset_path("casa-horizontes/gallery/gallery_demo18.jpg") %>', 'thumb': '<%= asset_path("casa-horizontes/gallery/gallery_demo18.jpg") %>', 'sub-html': '#dynamicHtml' }, 
        { 'src': '<%= asset_path("casa-horizontes/gallery/gallery_demo19.jpg") %>', 'thumb': '<%= asset_path("casa-horizontes/gallery/gallery_demo19.jpg") %>', 'sub-html': '#dynamicHtml' }, 
        { 'src': '<%= asset_path("casa-horizontes/gallery/gallery_demo20.jpg") %>', 'thumb': '<%= asset_path("casa-horizontes/gallery/gallery_demo20.jpg") %>', 'sub-html': '#dynamicHtml' }, 
        { 'src': '<%= asset_path("casa-horizontes/gallery/gallery_demo21.jpg") %>', 'thumb': '<%= asset_path("casa-horizontes/gallery/gallery_demo21.jpg") %>', 'sub-html': '#dynamicHtml' }
      ]
    });
  });
</script>