<header style="background-image: url('http://i592.photobucket.com/albums/tt5/Mardini03/1.jpg');">
    <div class="intro-content">
        <div class="brand-name">GUESTHOUSE IN PARADISE</div>
        <div class="brand-name-subtext">Welcome to Casa Horizontes. Come Explore Deeper States of Consciousness.</div>
    </div>
</header>

<section id="resume_about_us">
    <div class="container-fluid">       
       <div class="row" id="opacity_text">
           <div class="col-md-6 nopadding">
              <aside class="cta-quote" style="background-image: url('http://i592.photobucket.com/albums/tt5/Mardini03/2.jpg');" id="the_temple_2">           
              </aside> 
           </div>
           <div class="col-md-6 nopadding text-center">
                <div id="section_text_box">                         
                    <span class="section-text">Casa Horizontes is a unique, powerful and transformational place to explore deeper states of consciousness. <br><br>

                    You’ll discover – perhaps for the first time – a deep sense of connection between your mind, body and spirit. You’ll experience shifts in perception which will leave you more open and inspired.<br><br>

                    Above all, you’ll learn more about yourself, experience a profound sense of wellbeing, and discover the tools – and beliefs – you need to create the reality you desire.<br><br>

                    If this sounds like fun, join us at Casa Horizontes for an unforgettable, transformational and life changing experience. </span> 
                    <div class="row" id="btn_call_to_action">
                        <div class="col-md-12 text-center">
                            <img src="http://i592.photobucket.com/albums/tt5/Mardini03/a2.png" class="img-responsive" id="image_logo" alt="">
                            <a class="btn btn-outline-light page-scroll" href="#contact">TO BOOK, CLICK HERE</a> 
                        </div>                        
                    </div>  
                </div>          
           </div>    
       </div> 
    </div>
</section>

<aside class="cta-quote" style="background-image: url('http://i592.photobucket.com/albums/tt5/Mardini03/3.jpg');" id="the_temple_2">
    <div class="container-fluid wow fadeIn" id="section_text">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center" id="section_text_box">
                <span class="quote"><span class="text-primary">The Temple.</span></span>                
                <span class="section-text">Whether you spend your time relaxing by our private pool, enjoying a blissful meditation in our beautiful garden or revelling in the solitude of your private room, you’ll discover more about your true infinite self than you ever imagined possible.</span>                
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-10 text-right">
                <a class="btn btn-outline-light page-scroll" href="#contact">Learn More</a>
            </div>
        </div>
    </div>
</aside>

<section id="experiences_intro">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center" id="section_text_box">
                <span class="quote"><span class="text-primary">Experiences</span><br><br></span><span class="section-text">Tap into the infinite.</span>
            </div>
        </div>
    </div>
</section>

<aside class="cta-quote" style="background-image: url('http://i592.photobucket.com/albums/tt5/Mardini03/3.jpg');" id="the_temple_2">
    <div class="container-fluid wow fadeIn" id="section_text">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center" id="section_text_box">
                <span class="quote"><span class="text-primary">Ayawasca</span></span>                
                <span class="section-text">Hack reality through Amazonian shamanism in our 4 day Ayahuasca retreat. Our ceremonies address all aspects of your being and supports you into. Considered medicine by the Amazonian shamanic culture Ayahuasca will take you deep within to heal your spirit and transform your life into an experience filled with more love, beauty, joy and compassion.</span>                
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-10 text-right">
                <a class="btn btn-outline-light page-scroll" href="#contact">Learn More</a>
            </div>
        </div>
    </div>
</aside>

<section id="golden_heads_club">
    <div class="container-fluid">       
       <div class="row" id="opacity_text">
           <div class="col-md-6 nopadding">
              <aside class="cta-quote" style="background-image: url('http://i592.photobucket.com/albums/tt5/Mardini03/7.jpg');" id="the_temple_2">           
              </aside> 
           </div>
           <div class="col-md-6 nopadding text-center">
                <div id="section_text_box">
                    <span class="quote"><span class="text-primary">Golden Heads Club</span></span>          
                    <span class="section-text">Open the doors of perception and rewind in our blissful natural surroundings where you’ll explore a proven series of exercises and tools to tune into your infinite potential. You will experience a journey through your soul to discover and trascend your limiting  beliefs and start creating the reality you desire.</span> 
                    <div class="row" id="btn_call_to_action">
                        <div class="col-md-12">
                            <a class="btn btn-outline-light page-scroll" href="#contact">TO BOOK, CLICK HERE</a> 
                        </div>                        
                    </div>  
                </div>          
           </div>    
       </div> 
    </div>
</section>

<section id="golden_heads_club">
    <div class="container-fluid">       
       <div class="row" id="opacity_text">
            <div class="col-md-6 nopadding text-center">
                 <div id="section_text_box">
                     <span class="quote"><span class="text-primary">Golden Heads Club</span></span>          
                     <span class="section-text">Open the doors of perception and rewind in our blissful natural surroundings where you’ll explore a proven series of exercises and tools to tune into your infinite potential. You will experience a journey through your soul to discover and trascend your limiting  beliefs and start creating the reality you desire.</span> 
                     <div class="row" id="btn_call_to_action">
                         <div class="col-md-12">
                             <a class="btn btn-outline-light page-scroll" href="#contact">TO BOOK, CLICK HERE</a> 
                         </div>                        
                     </div>  
                 </div>          
            </div>
            <div class="col-md-6 nopadding">
                <aside class="cta-quote" style="background-image: url('http://i592.photobucket.com/albums/tt5/Mardini03/7.jpg');" id="the_temple_2"></aside> 
            </div>               
       </div> 
    </div>
</section>



<section class="portfolio-carousel wow fadeIn">    
    <div class="item" style="background-image: url('<%= asset_path('portfolio/bg-1.jpg') %>');">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-md-push-8">
                    <div class="project-details">
                        <img src="<%= asset_path('client-logos/logo-1.png') %>" class="img-responsive client-logo" alt="">
                        <span class="project-name">Project Name</span>
                        <span class="project-description">Branding, Website Design</span>
                        <hr class="colored">
                        <a href="#portfolioModal1" data-toggle="modal" class="btn btn-outline-light">View Details <i class="fa fa-long-arrow-right fa-fw"></i></a>
                    </div>
                </div>
                <div class="col-md-8 col-md-pull-4 hidden-xs">

                    <img src="<%= asset_path('portfolio/mobile-screens.png') %>" class="img-responsive portfolio-image" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="item" style="background-image: url('<%= asset_path('portfolio/bg-2.jpg') %>');">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-md-push-8">
                    <div class="project-details">
                        <img src="<%= asset_path('client-logos/logo-2.png') %>" class="img-responsive client-logo" alt="">
                        <span class="project-name">Project Name</span>
                        <span class="project-description">Branding, Website Design</span>
                        <hr class="colored">
                        <a href="#portfolioModal2" data-toggle="modal" class="btn btn-outline-light">View Details <i class="fa fa-long-arrow-right fa-fw"></i></a>
                    </div>
                </div>
                <div class="col-md-8 col-md-pull-4 hidden-xs">
                    <img src="<%= asset_path('portfolio/tablet-screens.png') %>" class="img-responsive portfolio-image" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="item" style="background-image: url('<%= asset_path('portfolio/bg-3.jpg') %>');">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-md-push-8">
                    <div class="project-details">
                        <img src="<%= asset_path('client-logos/logo-1.png') %>" class="img-responsive client-logo" alt="">
                        <span class="project-name">Project Name</span>
                        <span class="project-description">Branding, Website Design</span>
                        <hr class="colored">
                        <a href="#portfolioModal3" data-toggle="modal" class="btn btn-outline-light">View Details <i class="fa fa-long-arrow-right fa-fw"></i></a>
                    </div>
                </div>
                <div class="col-md-8 col-md-pull-4 hidden-xs">
                    <img src="<%= asset_path('portfolio/mobile-screens.png') %>" class="img-responsive portfolio-image" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="item" style="background-image: url('<%= asset_path('portfolio/bg-4.jpg') %>');">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-md-push-8">
                    <div class="project-details">
                        <img src="<%= asset_path('client-logos/logo-2.png') %>" class="img-responsive client-logo" alt="">
                        <span class="project-name">Project Name</span>
                        <span class="project-description">Branding, Website Design</span>
                        <hr class="colored">
                        <a href="#portfolioModal4" data-toggle="modal" class="btn btn-outline-light">View Details <i class="fa fa-long-arrow-right fa-fw"></i></a>
                    </div>
                </div>
                <div class="col-md-8 col-md-pull-4 hidden-xs">
                    <img src="<%= asset_path('portfolio/tablet-screens.png') %>" class="img-responsive portfolio-image" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<aside class="cta-quote" style="background-image: url('<%= asset_path('bg-aside.jpg') %>');" id="the_temple">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <span class="quote"><span class="text-primary">The Temple.</span></span>
                <hr class=" colored">
                <span class="quote">Whether you spend your time relaxing by our private pool, enjoying a blissful meditation in our beautiful garden or revelling in the solitude of your private room, you’ll discover more about your true infinite self than you ever imagined possible.</span>  
                <hr class=" colored">              
                <a class="btn btn-outline-light page-scroll" href="#contact">Learn More</a>
            </div>
        </div>
    </div>
</aside>

<section id="experiences">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p><strong>TAP INTO THE INFINITE</strong></p>
            </div>
        </div>
    </div>
</section>

<aside class="cta-quote" style="background-image: url('<%= asset_path('bg-aside.jpg') %>');">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <span class="quote"><span class="text-primary">AYAWASCA</span>
                <hr class=" colored">
                <span class="quote">Hack reality through Amazonian shamanism in our 4 day Ayahuasca retreat. Our ceremonies address all aspects of your being and supports you into transforming your life into an experience filled with more love, beauty, joy and compassion. Considered medicine by the Amazonian shamanic culture this is an experience that will transform the entirety of who you are.</span>
                <hr class=" colored">
                <a class="btn btn-outline-light page-scroll" href="#contact">Learn More</a>
            </div>
        </div>
    </div>
</aside>

<aside class="cta-quote" style="background-image: url('<%= asset_path('bg-aside.jpg') %>');">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <span class="quote"><span class="text-primary">DIONISIUS</span>
                <hr class=" colored">
                <span class="quote">Come to explore your senses in our tailor made 4 day gastronomic tour and discover the rich, unique flavors of the tropic accompanied by our hand selected variety of wines.</span>
                <hr class=" colored">
                <a class="btn btn-outline-light page-scroll" href="#contact">Learn More</a>
            </div>
        </div>
    </div>
</aside>

<aside class="cta-quote" style="background-image: url('<%= asset_path('bg-aside.jpg') %>');">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <span class="quote"><span class="text-primary">iexpeditions</span>
                <hr class=" colored">
                <span class="quote">The I expeditions is a transformational 7 day tour that brings together a select group of people from all over the world to a paradise location in Colombia to explore deeper states of consciousness. For one week the expeditioners will go through a series of experiences and receive a variety of tools that  will shift your perception of reality and unleash the infinite potential within each one.</span>
                <hr class=" colored">
                <a class="btn btn-outline-light page-scroll" href="#contact">Learn More</a>
            </div>
        </div>
    </div>
</aside>

<aside class="cta-quote" style="background-image: url('<%= asset_path('bg-aside.jpg') %>');">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <span class="quote">Golden Heads<span class="text-primary"> Club</span>
                <hr class=" colored">
                <span class="quote">Open the doors of perception and rewind in our blissful natural surroundings where you’ll explore a proven series of exercises and tools to tune into your infinite potential. You will experience a journey through your soul to discover and trascend your limiting  beliefs and start creating the reality you desire.</span>
                <hr class=" colored">
                <a class="btn btn-outline-light page-scroll" href="#contact">Learn More</a>
            </div>
        </div>
    </div>
</aside>

<section>
    <div class="container text-center wow fadeIn">
        <h2>our tribe - (Con imagenes subidas desde CMS e instagram)</h2>
        <hr class="colored">
        <p>Here are some other projects that we've worked on.</p>
        <div class="row content-row">
            <div class="col-lg-12">
                <div class="portfolio-filter">
                    <ul id="filters" class="clearfix">
                        <li>
                            <span class="filter active" data-filter="identity graphic logo web">All</span>
                        </li>
                        <li>
                            <span class="filter" data-filter="identity">Identity</span>
                        </li>
                        <li>
                            <span class="filter" data-filter="graphic">Graphic</span>
                        </li>
                        <li>
                            <span class="filter" data-filter="web">Web</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="portfoliolist">
                    <div class="portfolio identity" data-cat="identity" href="#portfolioModal1" data-toggle="modal">
                        <div class="portfolio-wrapper">
                            <img src="<%= asset_path('portfolio/grid/identity/1.jpg') %>" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Generic Inc.</a>
                                    <span class="text-category">Brand Identity</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio web" data-cat="web" href="#portfolioModal2" data-toggle="modal">
                        <div class="portfolio-wrapper">
                            <img src="<%= asset_path('portfolio/grid/web/1.jpg') %>" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Brands</a>
                                    <span class="text-category">Web Development</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio graphic" data-cat="graphic" href="#portfolioModal3" data-toggle="modal">
                        <div class="portfolio-wrapper">
                            <img src="<%= asset_path('portfolio/grid/graphic/1.jpg') %>" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Excellence</a>
                                    <span class="text-category">Poster Design</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio web" data-cat="web" href="#portfolioModal4" data-toggle="modal">
                        <div class="portfolio-wrapper">
                            <img src="<%= asset_path('portfolio/grid/web/2.jpg') %>" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">YouTV</a>
                                    <span class="text-category">Web Development</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio graphic" data-cat="graphic" href="#portfolioModal1" data-toggle="modal">
                        <div class="portfolio-wrapper">
                            <img src="<%= asset_path('portfolio/grid/graphic/2.jpg') %>" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Office Supplies</a>
                                    <span class="text-category">Graphic Design</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio web" data-cat="web" href="#portfolioModal2" data-toggle="modal">
                        <div class="portfolio-wrapper">
                            <img src="<%= asset_path('portfolio/grid/web/3.jpg') %>" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Fooder</a>
                                    <span class="text-category">Mobile App</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio graphic" data-cat="graphic" href="#portfolioModal3" data-toggle="modal">
                        <div class="portfolio-wrapper">
                            <img src="<%= asset_path('portfolio/grid/graphic/3.jpg') %>" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Mountain Tea</a>
                                    <span class="text-category">Graphic Design</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio graphic" data-cat="graphic" href="#portfolioModal4" data-toggle="modal">
                        <div class="portfolio-wrapper">
                            <img src="<%= asset_path('portfolio/grid/graphic/4.jpg') %>" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Checkmark</a>
                                    <span class="text-category">Graphic Design</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio identity" data-cat="identity" href="#portfolioModal1" data-toggle="modal">
                        <div class="portfolio-wrapper">
                            <img src="<%= asset_path('portfolio/grid/identity/2.jpg') %>" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Demish</a>
                                    <span class="text-category">Brand Identity</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio web" data-cat="web" href="#portfolioModal2" data-toggle="modal">
                        <div class="portfolio-wrapper">
                            <img src="<%= asset_path('portfolio/grid/web/4.jpg') %>" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">OneRepublic</a>
                                    <span class="text-category">Web Development</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio graphic" data-cat="graphic" href="#portfolioModal3" data-toggle="modal">
                        <div class="portfolio-wrapper">
                            <img src="<%= asset_path('portfolio/grid/graphic/5.jpg') %>" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Postable</a>
                                    <span class="text-category">Graphic Design</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio identity" data-cat="identity" href="#portfolioModal4" data-toggle="modal">
                        <div class="portfolio-wrapper">
                            <img src="<%= asset_path('portfolio/grid/identity/3.jpg') %>" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Simpli Nota</a>
                                    <span class="text-category">Brand Identity</span>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="blog" class="bg-gray">
    <div class="container text-center wow fadeIn">
        <h2>BLOG - (Con los ultimos tres post de medium)</h2>
        <hr class="colored">
        <p>Examples of our work which represent our design and marketing capabilities.</p>
    </div>
</section>

<section class="testimonials bg-gray">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="testimonials-carousel">
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="lead">"Working with Vitality was both a valuable and rewarding experience."</p>
                                <hr class="colored">
                                <p class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, temporibus, laborum, dignissimos doloremque corporis alias nostrum recusandae culpa id quisquam harum impedit sed sunt non obcaecati vero ipsam aut fugit?</p>
                                <div class="testimonial-info">
                                    <div class="testimonial-img">    
                                        <img src="<%= asset_path('testimonials/1.jpg') %>" class="img-circle img-responsive" alt="">
                                    </div>
                                    <div class="testimonial-author">
                                        <span class="name">Jim Walker</span>
                                        <p class="small">CEO of GeneriCorp</p>
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="lead">"Working with Vitality was both a valuable and rewarding experience."</p>
                                <hr class="colored">
                                <p class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, temporibus, laborum, dignissimos doloremque corporis alias nostrum recusandae culpa id quisquam harum impedit sed sunt non obcaecati vero ipsam aut fugit?</p>
                                <div class="testimonial-info">
                                    <div class="testimonial-img">
                                        <img src="<%= asset_path('testimonials/1.jpg') %>" class="img-circle img-responsive" alt="">
                                    </div>
                                    <div class="testimonial-author">
                                        <span class="name">Jim Walker</span>
                                        <p class="small">CEO of GeneriCorp</p>
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="process" class="services">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12 wow fadeIn">
                <h2>RECOMMENDATIONS</h2>
                <hr class="colored">
                <p>Here is an overview of how we approach each new project.</p>
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-4 wow fadeIn" data-wow-delay=".2s">
                <div class="media">
                    <div class="pull-left">
                        <i class="fa fa-clipboard"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Plan</h3>
                        <ul>
                            <li>Client interview</li>
                            <li>Gather consumer data</li>
                            <li>Create content strategy</li>
                            <li>Analyze research</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeIn" data-wow-delay=".4s">
                <div class="media">
                    <div class="pull-left">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Create</h3>
                        <ul>
                            <li>Build wireframe</li>
                            <li>Gather client feedback</li>
                            <li>Code development</li>
                            <li>Marketing review</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeIn" data-wow-delay=".6s">
                <div class="media">
                    <div class="pull-left">
                        <i class="fa fa-rocket"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Launch</h3>
                        <ul>
                            <li>Deploy website</li>
                            <li>Market product launch</li>
                            <li>Collect UX data</li>
                            <li>Quarterly maintenence</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact_us">
    <div class="container-fluid" id="contact">
        <div class="row" id="block_1">
            <div class="col-md-6 col-sm-12 col-xs-12 nopadding" id="contactus">
                PARA CONTACTO
            </div>
            
            <div class="col-md-3 col-sm-3 col-xs-6 nopadding" id="twitter">
                <a href="https://twitter.com/">
                    <img src="http://i592.photobucket.com/albums/tt5/Mardini03/Twitter_logo_white.png" alt="" id="twitter_logo">
                </a>               
            </div>  
            <div class="col-md-3 col-sm-3 col-xs-6  nopadding" id="casa_horizontes">
                <a href="#">
                    <img src="http://i592.photobucket.com/albums/tt5/Mardini03/a9.png" alt="" id="casa_horizontes_logo">
                </a>    
            </div>
            <div class="col-md-3 col-sm-3  col-xs-6 nopadding" id="youtube">
                <a href="#">
                    <img src="http://i592.photobucket.com/albums/tt5/Mardini03/YouTube-icon-full_color.png" alt="" id="youtube_logo">
                </a>                            
            </div> 
            <div class="col-md-3 col-sm-3  col-xs-6 nopadding" id="facebook">
                <a href="#">
                    <img src="http://i592.photobucket.com/albums/tt5/Mardini03/Facebook-logo.png" alt="" id="facebook_logo">
                </a>
            </div>
        </div>
        <div class="row" id="block_2">
            <div class="col-md-6 col-sm-12  col-xs-12 nopadding" id="location">
                PARA GOOGLE MAPS
            </div> 
            <div class="col-md-3 col-sm-6  col-xs-12 nopadding" id="address">
                PARA DIRECCION
            </div> 
            <div class="col-md-3 col-sm-6  col-xs-12 nopadding" id="thumbnail">
                PARA IMAGEN O THUMBNAIL DEL HOTEL
            </div> 
        </div>
    </div>
    <a href="#" class="btn btn-block btn-full-width">LEARN MORE</a>
</section>

<!-- Portfolio Modals -->
<!-- Example Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url('<%= asset_path('portfolio/bg-1.jpg') %>')">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <img src="<%= asset_path('client-logos/logo-1.png') %>" class="img-responsive img-centered" alt="">
                        <h2>Project Title</h2>
                        <hr class="colored">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos modi in tenetur vero voluptatum sapiente dolores eligendi nemo iste ea. Omnis, odio enim sint quam dolorum dolorem. Nostrum, minus, ad.</p>
                    </div>
                    <div class="col-lg-12">
                        <img src="<%= asset_path('portfolio/mobile-screens.png') %>" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-lg-8 col-lg-offset-2">
                        <ul class="list-inline item-details">
                            <li>Client: <strong><a href="http://startbootstrap.com">Start Bootstrap</a></strong>
                            </li>
                            <li>Date: <strong><a href="http://startbootstrap.com">April 2015</a></strong>
                            </li>
                            <li>Service: <strong><a href="http://startbootstrap.com">Web Development</a></strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Example Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url('<%= asset_path('portfolio/bg-2.jpg') %>')">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <img src="<%= asset_path('client-logos/logo-2.png') %>" class="img-responsive img-centered" alt="">
                        <h2>Project Title</h2>
                        <hr class="colored">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos modi in tenetur vero voluptatum sapiente dolores eligendi nemo iste ea. Omnis, odio enim sint quam dolorum dolorem. Nostrum, minus, ad.</p>
                    </div>
                    <div class="col-lg-12">
                        <img src="<%= asset_path('portfolio/tablet-screens.png') %>" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-lg-8 col-lg-offset-2">
                        <ul class="list-inline item-details">
                            <li>Client: <strong><a href="http://startbootstrap.com">Start Bootstrap</a></strong>
                            </li>
                            <li>Date: <strong><a href="http://startbootstrap.com">April 2015</a></strong>
                            </li>
                            <li>Service: <strong><a href="http://startbootstrap.com">Web Development</a></strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Example Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url('<%= asset_path('portfolio/bg-3.jpg') %>')">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <img src="<%= asset_path('client-logos/logo-1.png') %>" class="img-responsive img-centered" alt="">
                        <h2>Project Title</h2>
                        <hr class="colored">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos modi in tenetur vero voluptatum sapiente dolores eligendi nemo iste ea. Omnis, odio enim sint quam dolorum dolorem. Nostrum, minus, ad.</p>
                    </div>
                    <div class="col-lg-12">
                        <img src="<%= asset_path('portfolio/mobile-screens.png') %>" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-lg-8 col-lg-offset-2">
                        <ul class="list-inline item-details">
                            <li>Client: <strong><a href="http://startbootstrap.com">Start Bootstrap</a></strong>
                            </li>
                            <li>Date: <strong><a href="http://startbootstrap.com">April 2015</a></strong>
                            </li>
                            <li>Service: <strong><a href="http://startbootstrap.com">Web Development</a></strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Example Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url('<%= asset_path('portfolio/bg-4.jpg') %>')">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <img src="<%= asset_path('client-logos/logo-2.png') %>" class="img-responsive img-centered" alt="">
                        <h2>Project Title</h2>
                        <hr class="colored">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos modi in tenetur vero voluptatum sapiente dolores eligendi nemo iste ea. Omnis, odio enim sint quam dolorum dolorem. Nostrum, minus, ad.</p>
                    </div>
                    <div class="col-lg-12">
                        <img src="<%= asset_path('portfolio/tablet-screens.png') %>" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-lg-8 col-lg-offset-2">
                        <ul class="list-inline item-details">
                            <li>Client: <strong><a href="http://startbootstrap.com">Start Bootstrap</a></strong>
                            </li>
                            <li>Date: <strong><a href="http://startbootstrap.com">April 2015</a></strong>
                            </li>
                            <li>Service: <strong><a href="http://startbootstrap.com">Web Development</a></strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>