<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2"> 
      <h2 class="text-center" style="margin-top: 150px;">Agregar Imagen a las galerias</h2>     
      <div class="text-center">
      	<%= form_for(@gallery) do |gallery| %>
      		<h3 class="right-line text-left">NUEVO INSTRUCTOR</h3>
      		<div class="row">
      			<div class="col-md-12 text-left">
      				<div class="field form-group">
      					<%= gallery.label :name, "Nombre de la imagen:", class: "lead lead-lg" %>
      					<%= gallery.text_field :name, required: true, class: "form-control" %>
      				</div>

      				<div class="field form-group">
      				  <%= gallery.label :image, "Imagen para la galleria:", class: "lead lead-lg" %>
      				  <%= gallery.file_field :image, required: true, class: "form-control" %>
      				</div>

      				<div class="field form-group">
      				  <%= gallery.label :gallery_number, "Asignar Galleria a esta imagen", class: "lead lead-lg" %><br />
      				  <%= gallery.select :gallery_number, options_for_select(Gallery.gallery_numbers.map {|k,v| [k.humanize,k]}, @gallery.gallery_number), {}, { :class => "form-control", :id => "select_gallery_number" } %>
      				</div>

      				<div class="row">
      					<div class="col-md-12">
      						<div class="actions form-group text-center">		  	
      			  			<%= gallery.submit "Guardar Imagen", class: "btn btn-ar btn-lg btn-success" %>
      			  		</div>
      					</div>	
      				</div>
      			</div>
      		</div>
      	<% end %>
      </div>
    </div>
  </div>
</div>