<!DOCTYPE html>
<html lang="es-co">
<head>
  <meta charset="utf-8">
  <title>Casa Hotel Horizontes</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <meta name="MobileOptimized" content="320">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-66523431-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body id="page-top">
	<nav class="navigation">
    <div class="navigation__menu">
      <div class="navigation__menu-btn"><i class="navigation__menu-icon"></i><span class="navigation__menu-text">Menu</span></div>
      <ul class="nagivation__menu-list">        
        <li class="nagivation__menu-item"><%= link_to "Inicio", root_path, class: "nagivation__menu-item-link" %></li>
        <li class="nagivation__menu-item"><%= link_to "Planes y Servicios", "#ModalPrice", "data-toggle" => "modal", class: "nagivation__menu-item-link" %></li>
        <% if user_signed_in? %>
          <li class="nagivation__menu-item"><%= link_to "Galeria", galleries_path, class: "nagivation__menu-item-link" %></li>
          <li class="nagivation__menu-item"><%= link_to "CMS", "/editor/", class: "nagivation__menu-item-link" %></li>
          <li class="nagivation__menu-item"><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class: "nagivation__menu-item-link" %></li>
        <% end %>        
        <!-- <li class="nagivation__menu-item"><a href="#" class="nagivation__menu-item-link">Inicio</a></li>
        <li class="nagivation__menu-item"><a href="#" class="nagivation__menu-item-link">Acerca de Horizontes</a></li>
        <li class="nagivation__menu-item"><a href="#" class="nagivation__menu-item-link">Terminos y Condiciones</a></li>
        <li class="nagivation__menu-item"><a href="#" class="nagivation__menu-item-link">Preguntas Frecuentes</a></li>
        <li class="nagivation__menu-item"><a href="#" class="nagivation__menu-item-link">Politica de Cancelacion</a></li>
        <li class="nagivation__menu-item"><a href="#" class="nagivation__menu-item-link">Personal del Hotel</a></li> -->
      </ul>
    </div>
    <div class="navigation__state">
      <p class="navigation__state-text">Intro</p>
    </div>
    <div class="navigation__circles">
      <ul id="myMenu" class="navigation__circles-list">
        <li data-menuanchor="firstPage" class="navigation__circles-item active"><a href="#firstPage" class="navigation__circles-link"></a></li>
        <li data-menuanchor="secondPage" class="navigation__circles-item"><a href="#secondPage" class="navigation__circles-link"></a></li>
        <li data-menuanchor="thirdPage" class="navigation__circles-item"><a href="#thirdPage" class="navigation__circles-link"></a></li>
        <li data-menuanchor="fourthPage" class="navigation__circles-item"><a href="#fourthPage" class="navigation__circles-link"></a></li>
        <li data-menuanchor="fivethPage" class="navigation__circles-item"><a href="#fivethPage" class="navigation__circles-link"></a></li>
        <li data-menuanchor="sixthPage" class="navigation__circles-item"><a href="#sixthPage" class="navigation__circles-link"></a></li>
        <li data-menuanchor="seventhPage" class="navigation__circles-item"><a href="#seventhPage" class="navigation__circles-link"></a></li>
      </ul>
    </div>
    <div class="navigation__social"><span class="navigation__social-text">Compartir</span>
      <ul class="navigation__social-list">
        <!-- Twitter desactived -->
        <li class="navigation__social-item"><a target="_blank" href="https://www.facebook.com/casahorizontes1?ref=hl" class="navigation__social-link navigation__social-link--facebook"></a></li>
        <li class="navigation__social-item"><a target="_blank" href="https://twitter.com/CasaHorizontes" class="navigation__social-link navigation__social-link--twitter"></a></li>
        <li class="navigation__social-item"><a target="_blank" href="https://i.instagram.com/hotelcasahorizontes/" class="navigation__social-link navigation__social-link--instagram"></a></li>
        <li class="navigation__social-item"><a target="_blank" href="https://www.pinterest.com/casahorizontes/" class="navigation__social-link navigation__social-link--pinterest"></a></li>
        <li class="navigation__social-item"><a target="_blank" href="https://www.youtube.com/channel/UC4dWD_dE0Ek7NaHoB_FO4NA" class="navigation__social-link navigation__social-link--youtube"></a></li>
        <li class="navigation__social-item"><a target="_blank" href="http://www.tripadvisor.es/8360715?m=19905" class="navigation__social-link navigation__social-link--tripadvisor"></a></li>
      </ul>
    </div>
  </nav>
  
  <%= render 'pages/price_modal' %>
    
	<%= yield %>
</body>
</html>
